{% extends "userhome.html" %}
{% load static %} 
{% block user %}

<div class="max-w-4xl mx-auto bg-white rounded-lg shadow-md p-6 mt-5">
    <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">Change Password</h2>

    <form method="post" enctype="multipart/form-data" class="space-y-4">
        {% csrf_token %}
        {{form.errors}}
        <div>
            <label class="block text-gray-600 font-medium">Old Password</label>
            <input type="Password" name="old_password" class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-500">
        </div>

        <div>
            <label class="block text-gray-600 font-medium">New Password</label>
            <input type="Password" name="new_password1"  class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-500">
        </div>
        <div>
            <label class="block text-gray-600 font-medium">Confirm Password</label>
            <input type="Password" name="new_password2"  class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-500">
        </div>
       
        <div class="flex justify-center space-x-4 mt-6">
            <button class="bg-purple-600 text-white py-2 px-4 rounded-lg hover:bg-purple-700 transition-colors">
               Change 
            </button>
        </div>
    </form>
</div>

{% endblock %}
